{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Investment Portfolio Inventory</h1>

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5>Name:</h5>
                    </div>
                    <div class="card-body">
                        <p>{{name}}</p>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <h5>Class:</h5>
                    </div>
                    <div class="card-body">
                        <p>{{class}}</p>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <h5>Total Items:</h5>
                    </div>
                    <div class="card-body">
                        <p>{{banyak_jenis}} item dengan {{banyak_item}} buah</p>
                    </div>
                </div>
            </div>
        </div>

        <h3>Inventory List</h3>

        <div class="cards">
            {% for item in items %}
            <div class="card {% if forloop.last %}new-card{% endif %}">
                <h3>{{ item.name }}</h3>
                <p>Price: {{ item.price }}</p>
                <p>Description: {{ item.description }}</p>
                <p>Amount: {{ item.amount }}</p>
                <p>Date Added: {{item.date_added}}</p>
                <div class="card-buttons">
                    <a href="/remove/{{item.pk}}/">
                        <button class="btn btn-danger">Remove</button>
                    </a>
                    <a href="/add/{{item.pk}}/">
                        <button class="btn btn-success">Add</button>
                    </a>
                    <a href="/remove-all/{{item.pk}}/">
                        <button class="btn btn-warning">Delete</button>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

        <h5>Last Login: {{ last_login }}</h5>
        
        <a href="{% url 'main:create_item' %}" class="btn btn-primary">Add New Item</a>

        <a href="{% url 'main:logout' %}" class="btn btn-secondary">Logout</a>
    </div>

    <style>
        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 20px;
        }
        
        .new-card {
        background-color: #e8f8ff; /* Warna latar belakang card terbaru */
        }
    </style>
{% endblock content %}
